.footer-background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: auto;
  z-index: 1;
  flex-direction: column;
}

.footer-background > p {
  color: var(--color-primary);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 6rem;
  text-shadow: var(--shadow);
  margin: 0.5rem;
  font-weight: 700;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding: 1rem;
}
.footer-content > .button-links > li > a > svg {
  font-size: 2rem;
  color: var(--color-neutral);
}

.footer-content > .button-links > li > a > svg:hover {
  color: var(--color-accent);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
