.footer-background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: auto;
  z-index: 1;
  flex-direction: column;
}

.footer-background > p {
  color: var(--color-primary);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 6rem;
  text-shadow: var(--shadow);
  margin: 0.5rem;
  font-weight: 700;
  width: 100vw;
}

.button-links {
  text-decoration: none;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding: 1rem;
}
