.github {
  background: var(--color-accent);
  color: var(--font-color-primary);
  border: solid 2px var(--color-accent);
}
.github:hover {
  background: var(--color-netral);
  color: var(--font-color-secondary);
  border: solid 2px var(--color-primary);
}
.github:active {
  border: transparent;
  box-shadow: inset var(--shadow);
}
