.post {
  background: var(--color-neutral);
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
}
.post:hover {
  color: var(--color-secondary);
  border: solid 2px var(--color-accent);
}

.post:active {
  border: 2px solid transparent;
  box-shadow: inset var(--shadow);
}
