ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
  margin: 0 1rem;
}

li {
  margin: 0 .5rem;
}
a {
  color: var(--font-color-light);
  font-size: 1.5rem;
  font-weight: 600;
}