.button-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}
.button-links > li {
  margin: 0 0.5rem;
}
.button-links > li > a {
  font-size: 1rem;
  font-weight: 600;
}
