@import url(https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik+Mono+One&display=swap);

:root {
  --color-primary: #0e7147;
  --color-secondary: #413341;
  --color-accent: #ffbc3e;
  --color-neutral: #e4e4e4;

  /* font */
  --font-color-dark: #0e7147;
  --font-color-light: #e4e4e4;
  /* shadow */
  --shadow: 0px 2px 3px rgba(65, 51, 65, 0.8);
  --shadow-color: rgba(65, 51, 65, 0.8);

  /* FONTS */
  --font-Header: "Rubik Mono One", sans-serif;
  --font-header-2-3: "Azeret Mono", sans-serif;
  --font-body: "IBM Plex Mono", sans-serif;
  --a-font: "Azeret Mono", sans-serif;
  --button-font: "IBM Plex Mono", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  position: relative;
  width: 100vw;
  height: auto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><filter id="grain"><feTurbulence type="fractalNoise" baseFrequency="0.5" numOctaves="3" stitchTiles="stitch" /></filter><rect width="100" height="100" filter="url(%23grain)" /></svg>')
    repeat;
  opacity: 0.3; /* Adjust grain intensity */
  pointer-events: none;
  mix-blend-mode: multiply;
}

h1 {
  color: var(--font-color-light);
  font-family: var(--font-Header);
  font-size: 6.5rem;
  font-weight: 700;
  text-shadow: var(--shadow);
  margin: 0.5rem;
}

h3,
h4 {
  color: var(--color-accent);
  font-family: var(--font-header-2-3);
  text-shadow: var(--shadow);
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
  text-shadow: var(--shadow);
  margin: 0.5rem;
  color: var(--font-color-light);
  font-family: var(--font-header-2-3);
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
p {
  color: var(--font-color-light);
  font-family: var(--font-body);
  font-size: 1rem;
  text-shadow: var(--shadow);
  margin: 0.5rem;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

footer {
  justify-content: start;
}

.project-icons > path,
.footer-contacts > ul > li svg path {
  fill: var(--color-accent);
}
.profile-links > li > a > svg {
  font-size: 2rem;
  color: var(--color-neutral);
}

.profile-links > li > a > svg:hover {
  color: var(--color-accent);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 16rem) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  H4 {
    font-size: 1rem;
  }

  a:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
  }
}
