@import url(https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik+Mono+One&display=swap);

:root {
  --color-primary: #0e7147;
  --color-secondry: #413341;
  --color-accent: #ec9a29;
  --color-neutral: #e4e4e4;

  /* font */
  --font-color-dark: #0e7147;
  --font-color-light: #e4e4e4;
  /* shadow */
  --shadow: 2px 4px 4px rgba(65, 51, 65, 0.388);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  color: var(--font-color-light);
  font-family: "IBM Plex Mono";
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  color: var(--font-color-light);
  font-family: "Rubik Mono One";
  font-size: 6rem;
  text-shadow: var(--shadow);
  margin: 0.5rem;
}

h2,
h3,
h4 {
  color: var(--color-accent);
  font-family: "Azeret Mono" sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  text-shadow: var(--shadow);
  margin: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: var(--shadow);
}

@media (min-width: 16rem) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  H4 {
    font-size: 1rem;
  }

  a:hover {
    color: var(--color-accent);
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
  }
}
