@import url(https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik+Mono+One&display=swap);

:root {
  --color-primary: #0E7147;
  --color-secondry: #413341;
  --color-accent: #EC9A29;
  --color-neutral: #E4E4E4;

  /* font */
  --font-color-dark: #0E7147;
  --font-color-light: #E4E4E4;
  /* shadow */
  --shadow:  2px 4px 4px rgba(65, 51, 65, 0.388);
}

body {
  background: var(--color-primary);
  color: var(--font-color-light);
  font-family: "IBM Plex Mono";
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  color: var(--font-color-light);
  font-family: "Rubik Mono One";
  font-size: 6rem;
  text-shadow: var(--shadow);
}

h2,
h3 {
  color: var(--color-accent);
  font-family: "Azeret Mono" sans-serif;

}

h2 {
  font-size: 3rem;
  font-weight: 800;
  text-shadow:  var(--shadow);

}

h3 {
  font-size: 2rem;
  font-weight: 600;
  box-shadow: var(--shadow);
}

i {
  color: var(--color-neutral);
  max-width: 2rem;
  max-height: 3rem;
  text-shadow: var(--shadow);
}

button {
  border-radius: 12px;
  box-shadow: var(--shadow);
  cursor: pointer;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
}

button-accent {
  background: var(--color-accent);
  color: var(--font-color-dark);
  border: solid 2px var(--color-accent);
}

button-light {
  background: var(--color-neutral);
  color: var(--font-color-primary);
  border: solid 2px var(--color-primary);
}
section{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 16rem) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;

  }

  h3 {
    font-size: 1.5rem;

  }

  a:hover {
  color: var(--color-accent);
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
  
  }
}